# q1

In [53]:
my_name = "Rafid Hossain"
print(my_name)

Rafid Hossain

# q2

In [32]:
my_id = 12345
print(my_id)

12345

# q3

In [5]:
my_id_str = "12345"
print(my_id_str)

12345

# q4

In [54]:
my_name + my_id

TypeError: must be str, not int

Above does not work because it is adding a string and an integer.

# q5

In [8]:
my_name + my_id_str

'Rafid Hossain12345'

# q6

In [5]:
my_string = "hello, world. This is my first python string."

In [6]:
my_string.split('.')

['hello, world', ' This is my first python string', '']

# q7

In [19]:
str_list=['a','b','c','d','e']

In [20]:
str_list.sort()
print(str_list)

['a', 'b', 'c', 'd', 'e']

It's already sorted in alphabetical order.

# q8

In [21]:
str_list.append('f')
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# q9

In [22]:
str_list.remove('d')
print(str_list)

['a', 'b', 'c', 'e', 'f']

# q10

In [23]:
print(str_list[2])

c

# q11

In [25]:
num_list = [12, 32, 43, 35]
str_list + num_list

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

# q12

In [33]:
my_dict = {'name': 'Rafid', 'id': my_id}
print(my_dict)

{'name': 'Rafid', 'id': 12345}

# q13

In [34]:
my_dict['name']='Hossain'
print(my_dict)

{'name': 'Hossain', 'id': 12345}

# q14

In [35]:
print(my_dict['id'])

12345

# q15

In [38]:
my_id = 54321
my_dict['id']=my_id
print(my_dict['id'])

54321

# q16

In [55]:
my_dict['num_list']=num_list
print(my_dict)

{'name': 'Hossain', 'id': 54321, 'num_list': [12, 32, 43, 35]}

# q17

In [51]:
print(max(my_dict['num_list']))
print(min(my_dict['num_list']))

43
12