# Q1

In [1]:
import pandas

In [2]:
bucket = 'hoss-ia241'

In [3]:
data_key = 'house_price.xls'

In [4]:
data_location = 's3://{}/{}'.format(bucket,data_key)
print(data_location)

s3://hoss-ia241/house_price.xls

In [5]:
df = pandas.read_excel(data_location)

In [6]:
df[:10]

     price  bathroom           house_type  lot_size  built_in  area
0   159900         1   single-family home      5662      1924  1584
1  1100000         1   single-family home   4138200      1932   900
2   182000         2                condo      7405      1945  1622
3   169900         1   single-family home     36155      1950  1556
4   148500         1   single-family home      9147      1959  1000
5   444900         6   single-family home     28314      1961  5201
6   178000         2   single-family home     11326      1964  1188
7   209000         2   single-family home      9147      1966  1918
8   349900         2   single-family home    204732      1967  3850
9  1100000         2   single-family home   4356000      1970  2541

# Q2

## 2a

In [7]:
df['unit_price']=df['price']/df['area']

In [8]:
df['unit_price']

0      100.946970
1     1222.222222
2      112.207152
3      109.190231
4      148.500000
5       85.541242
6      149.831650
7      108.967675
8       90.883117
9      432.900433
10     108.144796
11      82.817680
12      93.619048
13     117.946782
14     145.084270
15     145.432498
16     169.695457
17     146.630435
18     123.665174
19     101.864667
20     104.097222
21     150.611621
22     149.188838
23     114.951558
24     115.125392
25     130.133929
26     126.997717
27     127.812258
28     153.269025
29     136.406995
Name: unit_price, dtype: float64

## 2b

In [9]:
import numpy as np

In [10]:
print('The max unit price is ${}'.format(np.amax(df['unit_price'])))
print('The median unit price is ${}'.format(np.median(df['unit_price'])))

The max unit price is $1222.2222222222222
The median unit price is $125.33144542647584

## 2c

In [11]:
df.groupby('house_type').mean()['unit_price']

house_type
 condo                 113.666272
 single-family home    177.947148
 townhouse             125.363829
Name: unit_price, dtype: float64

## 2d

In [12]:
from scipy import stats

In [13]:
result = stats.linregress(df['price'],df['area'])

In [14]:
print('slope is {}'.format(result.slope))
print('intercept is {}'.format(result.intercept))
print('r square is {}'.format(result.rvalue * result.rvalue))
print('p value is {}'.format(result.pvalue))

slope is 0.0022332084272528117
intercept is 1699.0812206655887
r square is 0.1660981507478648
p value is 0.025387094399552994

## 2e

In [15]:
print('The price of a house with an area of 2,000 sq. ft is ${}'.format(result.slope*2000+result.intercept))

The price of a house with an area of 2,000 sq. ft is $1703.5476375200944